<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hedger-commodity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static%}
        {%load bootstrap5%}
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Commodity details</h1>
        <hr>
        <div class="details-table">
            <table>
                <th><h3>product information</h3></th>
                <tr>
                    <td><b>product name:</b></td>
                    <td>maize</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>binomial name:</b></td>
                    <td>zea mays</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>current price:</b></td>
                    <td>4200ksh</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>forecasted retail price:</b></td>
                    <td>2700ksh</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>variety name:</b></td>
                    <td>White maize</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>levels:</b></td>
                    <td>5000 tonnes</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>external links:</b></td>
                    <td><a href="www.statista.com">google/statista.com</a></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>refferences:</b></td>
                    <td><a href="www.google.com">google.com/8.8.8.8</a></td>
                </tr>
            </table>
    
            <section class="description">
                <h3>general information</h3>
                <hr>
                Maize (/meɪz/ MAYZ; Zea mays subsp. mays, from Spanish: maíz after Taino: mahis),
                 also known as corn in North American and Australian English, is a cereal grain first domesticated by indigenous peoples in southern Mexico about 10,000 years ago. 
                 The leafy stalk of the plant produces pollen inflorescences (or "tassels") and separate ovuliferous inflorescences called ears that when fertilized yield kernels or seeds, which are fruits.
                 The term maize is preferred in formal, scientific, and international usage as the common name because this refers specifically to this one grain whereas corn refers to any principal cereal crop cultivated in a country.
                 For example, in North America and Australia corn is often used for maize,
                 but in England and Wales it can refer to wheat or barley, and in Scotland and Ireland to oats.
                <br>
                <a href="#">wikipedia</a>
            </section>
        </div>
    
        <div class="biological-table">
            
            <table>
                <th><h3>scientific information</h3></th>
                <tr>
                    <td><b>kingdom:</b></td>
                    <td>plantae</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>clade:</b></td>
                    <td>tracheophytes</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>clade:</b></td>
                    <td>angiosperms</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>order:</b></td>
                    <td>poales</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>family:</b></td>
                    <td>poaceae</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>subfamily:</b></td>
                    <td>panicoideae</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>genus:</b></td>
                    <td>Zea</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>species:</b></td>
                    <td>Z.mays</td>
                </tr>
            </table>
    
            <section class="photo">
                <img src="#" alt="photo">
                <br>
                <figcaption><i>mechanical hrvesting of maize</i></figcaption>
            </section>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>