<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hedger|hedge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static%}
        {%load bootstrap5%}
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="top-part">
            <h1>Hedge</h1>
    
            <h1>The Hedger</h1>
    
            <button type="button">deposit</button>
        </section>
    
        <hr>
    
        <div class="sidebar_items">
            <div class="side_bar_hedging_items">
                <ul>
                    <li><button class="buy" type="button"><b>Buy</b></button></li>
                    <li><button class="sell" type="button"><b>Sell</b></button></li>
                </ul>
            </div>
                <button class= "reports" type="button">go to reports</button>
        </div>

        <script src="" async defer></script>
    </body>
</html>