<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hedger|login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static%}
        {%load bootstrap5%}
        {%bootstrap_css%}
        {%bootstrap_javascript%}
        {%bootstrap_messages%}
        <link rel="stylesheet" href="{%static 'app/index.css'%}">
    </head>
    <body>
        {% if user.is_authenticated%}
        <div id="wrapper">
            <div id="sidepanel">
              <div class="user-details">
                <img src="{%static 'app/IMG_20221008_133709.jpg'%}" alt="profile">
                
                <a href="#"><h4>@{{username}}</h4></a>
                
              </div>
              <div id="flexbox">
              <button type="submit" class="btnsignout"> <a href="/signout"> signout </a> </button>
              </div>
              <hr>
              <ul>
                <li><button type="submit"><a href="/forecast">forecast</a></button></li>
                <li><button type="submit"><a href="/hedge">hedge</a></button></li>
                <li><button type="submit"><a href="/commodityinfo">commodity information</a></button></li>
              </ul>
              
              <section class="userpanel">
                <h3><u>other options</u></h3>
                <ul>
                    <li>inquiry</li>
                    <li>about us</li>
                    <li>book marks</li>
    
                </ul>
              </section>
            </div>

            <div class="main-part">
              <div class="contain">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">Hedger</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More-options
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">settings</a></li>
                            <li><a class="dropdown-item" href="#">Dark mode</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Customize</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </nav>

                <button class="btn btn-warning" type="button">go to reports</button>

                <p></p>

                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                
                  <div class="card-body">
                    <h5 class="card-title">Hedging</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Hedge</a>
                  </div>
                </div>
                
                <div class="card" aria-hidden="true">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                      <span class="placeholder col-6"></span>
                      <p>can be used to enhance the experience of your</p> 
                    </h5>
                    <p class="card-text placeholder-glow">
                      <p>can be used to enhance the experience of your application.</p> </span>
                      <p>can be used to enhance the experience of your application.</p> 
                      <p>can be used to enhance the experience of your application.</p> 
                      <span class="placeholder col-6"></span>
                      <span class="placeholder col-8"></span>
                    </p>
                    <a class="btn btn-primary disabled placeholder col-6">more info</a>
                  </div>

                </div>

                <p aria-hidden="true">
                  <span class="placeholder col-6"></span>
                </p>
                
                <a class="btn btn-primary disabled placeholder col-4">explore</a>


                
              </div>
            </div>

        </div>

        

        {%else%}

        <div class="welcome-container">
            <div class="welcome">

                <section class="page-description">
                    <p>this is a section that describes the function of the page the functionalties and every other 
                       thing involving the page to  convince other users who are not yet on the plartform to enter the plartform
                       The .btn classes are designed to be used with the button element. However, you can also use these classes on a or
                         input elements (though some browsers may apply a slightly different rendering).

                        When using button classes on a elements that are used to trigger in-page functionality (like collapsing content),
                           rather than linking to new pages or sections within the current page, these links should be given a role="button" 
                          to appropriately convey their purpose to assistive technologies such as screen readers.</p>
                </section>

                <section class="image-section">
                    <img src="{%static 'app/welcome img.webp'%}" alt="photo">
                </section>

                <section class="external-links-section">
                    <ul>
                        <li><a href="#">subsidiaries</a></li>
                        <li><a href="#">management</a></li>
                        <li><a href="#">contuct us</a></li>
                    </ul>

                    <ul>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">about us</a></li>
                    </ul>
                </section>

            </div>
        </div>

        <button type="submit" class="btn btn-success"> <a href="/signin"> signin </a> </button>
        <button type="submit" class="btn btn-success"> <a href="/signup"> signup </a> </button>
        {%endif%}
        
        <script src="" async defer></script>
    </body>
</html>
